<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/ifflagged/Magic/releases/download/Magic/Spamblocker.3.1.0.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/91/5a/88/915a8824-10e2-2f25-715d-cc1e32168e8b/AppIcon-0-0-1x_U007epad-0-0-0-0-0-0-sRGB-0-85-220.png/512x512bb.jpg</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/91/5a/88/915a8824-10e2-2f25-715d-cc1e32168e8b/AppIcon-0-0-1x_U007epad-0-0-0-0-0-0-sRGB-0-85-220.png/512x512bb.jpg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>title</key>
                <string>小熊拦截</string>
                <key>bundle-version</key>
                <string>3.1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.zeekstudio.spamblocker</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
